/***********
 * GENERAL *
 ***********/

* {
  font-family: arial, sans-serif;
}

body, th, td, input, textarea {
  font-size: 9pt;
}

body {
  margin: 0;
}

a {
  color: #33f;
}

a:hover {
  color: #f33;
}

th {
  text-align: left;
}

.business {
  color: #33f;
}

.shop {
  color: #f33;
}



/**********
 * LAYOUT *
 **********/

div#business, div#shop {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

div#business {
  border-bottom: 1px solid #999;
}

div#shop {
  border-top: 1px solid #999;
  bottom: 0;
}

div#business.hidden, div#shop.hidden {
  position: relative;
  visibility: hidden;
}

div#shop.hidden {
  margin-top: -13px;
}

div.center {
  color: #666;
  font-size: 24pt;
  margin-top: -12pt;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}



/**************
 * NAVIGATION *
 **************/

ul.nav {
  margin: 0;
  padding: 0;
  font-weight: bold;
  padding: 1px 2px;
}

ul.nav li {
  display: inline-block;
  border: 1px solid #999;
  padding: 2px 4px;
  margin: 1px -1px 1px 0;
}

ul.nav li.active, ul.nav li:hover {
  background-color: #fff !important;
}

ul.nav li.active a {
  color: #000;
}

ul.nav a {
  color: #333;
  text-decoration: none;
}

div#business ul.nav {
  background-color: #99f;
  border-bottom: 1px solid #999;
}

div#business ul.nav li {
  background-color: #ccf;
}

div#shop ul.nav {
  background-color: #f99;
  border-top: 1px solid #999;
}

div#shop ul.nav li {
  background-color: #fcc;
}



/*******
 * TOP *
 *******/

div#business > div {
  display: table-cell;
  padding: 8px 12px;
  vertical-align: top;
}

div#supplier_name {
  font-size: 20pt;
  letter-spacing: 1pt;
}

div#supplier_customer_id:before {
  color: #999;
  content: 'Bazes kundenr. ';
}

div#supplier_contact {
  white-space: nowrap;
}

div#business div.text {
  white-space: pre-line; 
}



/********
 * DATA *
 ********/

table.header, table#orders {
  border: 1px solid #999;
  border-collapse: collapse;
  margin: 0;
  width: 100%;
}

table#orders {
  border-width: 0 0 1px 0;
}

table.header th {
  background-color: #ccc;
}

table.header th .asc:after {
  content: '\25b2';
}

table.header th .desc:after {
  content: '\25bc';
}

table.header th, table#orders td {
  border-left: 1px solid #999;
  padding: 1px 8px 1px 4px;
}

table#orders tbody tr:nth-child(odd) {
  background-color: #eee;
}

table.header th:first-child, table#orders td:first-child {
  border-left: 0;
  padding: 1px 1px 1px 0;
  width: 1px;
}

table#orders thead input[type=checkbox] {
  visibility: hidden;
}

table#orders thead tr:last-child td {
  padding: 0;
}

table#orders thead tr:last-child td:nth-child(2) {
  padding-left: 4px;
}

table#orders td:last-child {
  padding: 0;
}

table#orders input[type=text] {
  padding: 3px;
  border-width: 0;
  width: 100%;
}

table#orders input:focus {
  background-color: #ff9;
}

table#orders input:disabled {
  background-color: #ddd;
}

table#orders button {
  background-color: inherit;
  border-width: 0;
  padding: 1px;
  text-align: left;
  width: 100%;
}

table.header th:nth-child( 2), table#orders td:nth-child( 2) { width:  7em; }
table.header th:nth-child( 3), table#orders td:nth-child( 3) { width:  2.5em; }
table.header th:nth-child( 4), table#orders td:nth-child( 4) { width: 25em; }
table.header th:nth-child( 5), table#orders td:nth-child( 5) { width:  5em; }
table.header th:nth-child( 6), table#orders td:nth-child( 6) { width:  10em; }
table.header th:nth-child( 7), table#orders td:nth-child( 7) { width:  3em; }
table.header th:nth-child( 8), table#orders td:nth-child( 8) { width:  5em; }
table.header th:nth-child( 9), table#orders td:nth-child( 9) { width:  4em; }
table.header th:nth-child(10), table#orders td:nth-child(10) { width:  2.5em; }
table.header {
  border-width: 1px 0 0 0;
}



/********
 * FORM *
 ********/

form.member {
  margin: 16px auto;
  width: 600px;
}

form.member fieldset {
  border-width: 0;
}

form.member > fieldset > legend {
  color: #666;
  font-size: 24pt;
  padding: 0;
}

form.member ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

form.member li {
  padding: 12px 0;
}

form.member li:last-child {
  border: 1px solid #ccc;
  border-width: 1px 0;
}

form.member label {
  display: block;
  font-size: 12pt;
  font-weight: bold;
}

form.member .required:after {
  color: #f33;
  content: '*';
  margin-left: 4px;
}

form.member input[type=text],
form.member textarea {
  font-size: 12pt;
  padding: 4px;
  width: 100%;
}

form.member textarea {
  height: 4.5em;
}

form.member fieldset fieldset {
  margin: 0;
  padding: 4px 0;
}

form.member fieldset fieldset legend {
  font-size: 12pt;
  font-weight: bold;
  padding: 0;
}

form.member fieldset fieldset label {
  margin: 4px 0 4px 32px;
}

form.member input[type=submit] {
  display: block;
  float: right;
  font-size: 12pt;
  font-weight: bold;
  margin: 16px 0;
  padding: 4px 8px;
}

form.member div.field_with_errors {
  background-color: #fcc;
  border: 1px solid #f33;
  margin: -12px;
  padding: 11px;
}

form.member div.field_with_errors:first-child {
  border-bottom-width: 0;
  padding-bottom: 6px;
}

form.member div.field_with_errors:last-child {
  border-top-width: 0;
  padding-top: 6px;
}



/*********
 * TABLE *
 *********/
 



/***********
 * ACTIONS *
 ***********/

div#actions {
  margin: 8px;
}
