/***********
 * GENERAL *
 ***********/

* {
  font-family: arial, sans-serif;
}

body, th, td, input, textarea {
  font-size: 9pt;
}

body {
  margin: 0;
}

a {
  color: #33f;
}

a:hover {
  color: #f33;
}

th {
  text-align: left;
}

.business {
  color: #33f;
}

.shop {
  color: #f33;
}



/**********
 * LAYOUT *
 **********/

div#top, div#bottom {
  background-color: #fff;
  position: fixed;
  width: 100%;
}

div#top {
  border-bottom: 1px solid #999;
}

div#bottom {
  border-top: 1px solid #999;
  bottom: 0;
}

div#top.hidden, div#bottom.hidden {
  position: relative;
  visibility: hidden;
}

div.center {
  color: #666;
  font-size: 24pt;
  margin-top: -12pt;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}



/**************
 * NAVIGATION *
 **************/

ul#nav {
  margin: 0;
  padding: 0;
  font-weight: bold;
  padding: 1px 2px;
}

ul#nav li {
  display: inline-block;
  border: 1px solid #999;
  padding: 2px 4px;
  margin: 1px -1px 1px 0;
}

ul#nav li.active, ul#nav li:hover {
  background-color: #fff;
}

ul#nav li.active a {
  color: #000;
}

ul#nav a {
  color: #666;
  text-decoration: none;
}

ul#nav.business {
  background-color: #ccf;
  border-bottom: 1px solid #999;
}

ul#nav.shop {
  background-color: #fcc;
  border-top: 1px solid #999;
}



/*******
 * TOP *
 *******/

div#top > div {
  display: table-cell;
  padding: 8px 12px;
  vertical-align: top;
}

div#supplier_name {
  font-size: 20pt;
  letter-spacing: 1pt;
}

div#supplier_customer_id:before {
  color: #999;
  content: 'Kundenr. ';
}

div#top div.text {
  white-space: pre-line; 
}



/********
 * DATA *
 ********/

table#data {
  border-bottom: 1px solid #999;
  border-collapse: collapse;
  margin: 0 0 62px 0;
  width: 100%;
}

table#data thead {
  background-color: #ccc;
}

table#data tbody tr:nth-child(even) {
  background-color: #eee;
}

table#data th, table#data td {
  border-left: 1px solid #999;
  padding: 1px 8px 1px 4px;
}

table#data th:first-child, table#data td:first-child {
  border-left: 0;
  padding: 1px 1px 1px 0;
  width: 1px;
}

table#data tr:first-child td {
  padding: 0;
}

table#data tr:first-child td:nth-child(2) {
  padding-left: 4px;
}

table#data input[type=text] {
  padding: 3px;
  border-width: 0;
  width: 100%;
}

table#data input:focus {
  background-color: #ff9;
}

table#data input:disabled {
  background-color: #ddd;
}



/********
 * FORM *
 ********/

form.supplier {
  margin: 16px auto;
  width: 600px;
}

form.supplier fieldset {
  border-width: 0;
}

form.supplier > fieldset > legend {
  color: #666;
  font-size: 24pt;
  padding: 0;
}

form.supplier ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

form.supplier li {
  padding: 12px 0;
}

form.supplier li:last-child {
  border: 1px solid #ccc;
  border-width: 1px 0;
}

form.supplier label {
  display: block;
  font-size: 12pt;
  font-weight: bold;
}

form.supplier .required:after {
  color: #f33;
  content: '*';
  margin-left: 4px;
}

form.supplier input[type=text],
form.supplier textarea {
  font-size: 12pt;
  padding: 4px;
  width: 100%;
}

form.supplier textarea {
  height: 4.5em;
}

form.supplier fieldset fieldset {
  margin: 0;
  padding: 4px 0;
}

form.supplier fieldset fieldset legend {
  font-size: 12pt;
  font-weight: bold;
  padding: 0;
}

form.supplier fieldset fieldset label {
  margin: 4px 0 4px 32px;
}

form.supplier input[type=submit] {
  display: block;
  float: right;
  font-size: 12pt;
  font-weight: bold;
  margin: 16px 0;
  padding: 4px 8px;
}

form.supplier div.field_with_errors {
  background-color: #fcc;
  border: 1px solid #f33;
  margin: -12px;
  padding: 11px;
}

form.supplier div.field_with_errors:first-child {
  border-bottom-width: 0;
  padding-bottom: 6px;
}

form.supplier div.field_with_errors:last-child {
  border-top-width: 0;
  padding-top: 6px;
}



/***********
 * ACTIONS *
 ***********/

div#actions {
  margin: 8px;
}
