<% if supplier === @supplier %>
  <li class="active">
    <% if params[:action] == 'index' %>
      <%= link_to supplier.name, edit_supplier_path(supplier) %>
    <% else %>
      <%= link_to supplier.name, supplier_orders_path(supplier) %>
    <% end %>
  </li>
<% else %>
  <li><%= link_to supplier.name, supplier_orders_path(supplier) %></li>
<% end %>
