<table id="data">
  <thead>
    <tr>
      <th style="width: 1px;"><input type="checkbox" /></th>
      <th style="width: 7em;">Oprettet</th>
      <th style="width: 2em;">af</th>
      <th>Dess.</th>
      <th style="width: 3em;">Str.</th>
      <th style="width: 2.5em;">Stk.</th>
      <th style="width: 5em;">Farve</th>
      <th style="width: 5em;">Sagsnr.</th>
      <th style="width: 4em;">Bestilt</th>
      <th style="width: 2em;">af</th>
      <th>Bem&aelig;rkninger</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td><%= DateTime.now.to_s(:short) %></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" /></td>
      <td><input type="text" disabled="disabled" /></td>
      <td><input type="text" disabled="disabled" /></td>
      <td><input type="text" /></td>
    </tr>
    <tr>
      <td><input type="checkbox"></td>
      <td><%= DateTime.now.to_s(:short) %></td>
      <td>DF</td>
      <td>Oh my god is this real?</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>Pilotjakke XDforDen kan det hele stå der, uden det bliver skubbet ud?</td>
    </tr>
  </tbody>
</table>
